header div {
    padding: 50px;
    box-sizing: border-box;
    background-color: #015875;
    color: #55DDE0;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

header{
  background-color: #015875;
  width: 100%;
}


